<!doctype html>
<html>

<head>
	<link rel="icon" href="img/favicon.svg" type="image/svg+xml">
    <title>Design By Dev</title>
    <link type="text/css" rel="stylesheet" href="/css/main.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name=”description” content=”Design By Dev aims to create aesthetically pleasing web UIs and web apps.”>
    <link rel=”author” href=”https://plus.google.com/u/0/107007386824121938226”/>
    <link rel=”publisher” href=”https://plus.google.com/u/0/107007386824121938226”/>
    <meta property=”og:title” content=”Beautiful Custom Built Websites | Design By Dev”/>
    <!--<meta property=”og:image” content=”http://www.iacquire.com/some-thumbnail.jpg”/>-->
    <meta property=”og:description” content=”Looking for elegant, resonsive websites custom built for your needs? Look no further! We have you covered!”/>
    <meta property=”og:url” content=”http://www.designbydev.com”/>
    <meta property=”og:type” content=”website”/>
    <meta property=”fb:admins” content=”100005644864405”/>
</head>

    <body>
        <nav>
            <ul>
                <li><a href="/home">HOME</a></li>
                <li><a href="/info">INFO</a></li>
                <li><a href="/work">WORK</a></li>
                <li><a href="/services">SERVICES</a></li>
            </ul>
        </nav>

        <button class="dropDown" class="dropDown"><h4>MENU</h4></button>

  <body>


    {{{body}}}


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/navShow.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-92168092-1', 'auto');
	  ga('send', 'pageview');

</script>
  </body>
<!--
  <footer>
    <h5>2017 Copyright Devin Wood</h5>
  </footer>
-->
  </html>
