        <div class="comingSoon">
            <article>
                <form id="email" method="POST" action="">
                    <h1>UH-OH! WE HAVEN'T QUITE FINISHED THIS PAGE YET...</h1>
                    <p>In the meantime, feel free to join our awesome email list!</p>
                    <input type="text" name="first" placeholder="First Name">
                    <br />
                    <input type="text" name="last" placeholder="Last Name">
                    <br />
                    <input type="email" name="email" placeholder="Email">
                    <br />
                    <input type="submit" name="emailSubmit" value="SEND ME COOL STUFF">
                    <br />
                </form>
            </article>
        </div>
