<!DOCTYPE html>
<html>

    <head>
        <title>Welcome! | designbydev.com</title>
        <link type="text/css" rel="stylesheet" href="css/land.css">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    </head>

    <body>

        <div class="landing-wrap">
            <h1>WELCOME TO A NEW KIND OF WEB EXPERIENCE</h1>
            <p>CLICK CONTINUE TO SEE MY WORK AND EXPLORE YOUR FUTURE.</p>
            <br>
            <a href="/home">CONTINUE</a>
        </div>

    </body>

</html>
