<!DOCTYPE html>
<html>

    <head>
        <title>Welcome! | Design By Dev</title>
        <link type="text/css" rel="stylesheet" href="css/land.css">
        <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
        <meta name=”description” content=”Design By Dev aims to create aesthetically pleasing web UIs and web apps.”>
        <link rel=”author” href=”https://plus.google.com/u/0/107007386824121938226”/>
        <link rel=”publisher” href=”https://plus.google.com/u/0/107007386824121938226”/>
        <meta property=”og:title” content=”Beautiful Custom Built Websites | Design By Dev”/>
        <!--<meta property=”og:image” content=”http://www.iacquire.com/some-thumbnail.jpg”/>-->
        <meta property=”og:description” content=”Looking for elegant, resonsive websites custom built for your needs? Look no further! We have you covered!”/>
        <meta property=”og:url” content=”http://www.designbydev.com”/>
        <meta property=”og:type” content=”website”/>
        <meta property=”fb:admins” content=”100005644864405”/>
    </head>

    <body>

        <div class="landing-wrap">
            <h1>WELCOME TO A NEW KIND OF WEB EXPERIENCE</h1>
            <p>CLICK CONTINUE TO SEE MY WORK AND EXPLORE YOUR FUTURE.</p>
            <br>
            <a href="/home">CONTINUE</a>
        </div>

    </body>

</html>
