        <br />
        <div class="info-wrap">
          <div class="contact-content">
              <article>
                      <h1>CONTACT</h1>
                      <strong>Name: </strong><p>Devin Wood</p>
                      <br />
                      <strong>E-Mail: </strong><p>admin@designbydev.com</p>
                      <br />
                      <strong>Phone: </strong><p>+1.5187699359</p>
              </article>
          </div>
          <hr>
          <div class="about-content">
              <article>
                      <h1>ABOUT</h1>
                      <img class="aboutPic" src="/img/devin_picture.jpg" />
                      <br />
                      <p><strong>Hi, I'm Devin. </strong><br />I've been designing and developing since I was 12 years old. I remember studying all the websites from my favorite video games, as well as the forums included on those. Over the years, I have collected knowledge of JavaScript, HTML, CSS, AngularJS, Node JS, and minimal PHP. I am fluent in PhotoShop and often use both PhotoShop and Adobe xD to sketch out beautiful designs. My ultimate goal is an aesthetically pleasing UI followed by seamless interaction within each website I build. I truly hope you'll enjoy my work and look around a bit!</p>
              </article>
          </div>
        </div>
