<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/ryan.css">
        <link href="https://fonts.googleapis.com/css?family=Sansita|Ubuntu" rel="stylesheet">
    </head>

    <body>
        <nav>
            <a href="#" class="navToggle"><img src="/img/menu_48.png"></a>
            <h1><a href="./home">RYAN JONES</a></h1>
            <ul>
              <li class="topButton"><a href="./projects"><img src="/img/projects_128.png"><h4 class="navIconText">PROJECTS</h4></a></li>
              <li><a href="./skills"><img src="/img/skills_128.png"><h4 class="navIconText">SKILLS</h4></a></li>
              <li><a href="./network"><img src="/img/network_128.png"><h4 class="navIconText">NETWORK</h4></a></li>
            </ul>
        </nav>

        <div class="bodyWrapper">
            <div class="bodyContent">
                <div class="leftWrapper">
                    <h1>RYAN JONES</h1>
                    <h1><font color="orange">DEVELOPER</font></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus est, congue id bibendum vitae, laoreet sed enim. Aliquam luctus tristique mi sed cursus. Sed eu iaculis nunc. Donec commodo metus a quam auctor, a malesuada augue porta. Praesent faucibus est quis maximus sagittis. In vulputate mauris at neque porta elementum. Praesent aliquam dapibus consectetur. Curabitur mauris purus, commodo ut blandit et, tempus sed dolor. Cras eget augue et elit vestibulum facilisis. Proin laoreet, nibh nec congue interdum, felis ligula rhoncus ante, id aliquet mauris massa at lorem. Morbi ac maximus nisi.
                    </p>
                </div>

                <div class="rightWrapper">
                    <h1>RECENT <font color="orange">PROJECTS</font></h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus est, congue id bibendum vitae, laoreet sed enim. Aliquam luctus tristique mi sed cursus. Sed eu iaculis nunc. Donec commodo metus a quam auctor, a malesuada augue porta. Praesent faucibus est quis maximus sagittis. In vulputate mauris at neque porta elementum. Praesent aliquam dapibus consectetur. Curabitur mauris purus, commodo ut blandit et, tempus sed dolor. Cras eget augue et elit vestibulum facilisis. Proin laoreet, nibh nec congue interdum, felis ligula rhoncus ante, id aliquet mauris massa at lorem. Morbi ac maximus nisi.
                    </p>
                </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/navBar.js"></script>
    </body>
</html>
