        <br />
        <div class="compServWrap">
          <div class="service-header">
              <h1>SERVICES</h1>
          </div>

          <div class="service-content">
              <div class="service-content-wrap">
                  <h1>WHAT WE HAVE TO OFFER</h1>
                  <p>
                      Below you'll find all the services available over here at Design By Dev. From company websites to portfolio projects, we can do it all.
                  </p>
                  <article>
                      <br />
                      <h1 class="designSect">DESIGN</h1>
                      <p>
                          Elaborate, exclusive design tailored directly to your needs to meet the rapidly changing demands of the web while still delivering stunning details and imagery.<br /><br />With every project order you will have access to:
                      </p>
                      <br />
                      <ul>
                          <li><strong>Logo Creation</strong></li>
                          <li><strong>Design Templates</strong></li>
                          <li><strong>HTML Email Templates</strong></li>
                          <li><strong>Banner Creation</strong></li>
                      </ul>
                      <br />
                      <h3 class="designSect">DYNAMIC WEBPAGES</h3>
                      <p>
                          Current web technologies are in a <strong>constant cycle</strong> of new technologies. Along with this means creating beautiful web apps that can fit across all platforms and devices.<br/><br/> <strong>It's not a bonus, it's a standard.</strong><br/><br/> Any project I complete will be rendered with dynamic viewports to ensure maximum readability and stability no matter how or where it's viewers are accessing it.
                      </p>
                  </article>
                  <br />
                  <article>
                      <h1 class="designSect">SERVER AND BACK END UTILITIES</h1>
                      <p>
                          Need your clients to access user specific data? Perhaps you're starting up a community website or a forum board? Whatever the case, you're covered. We'll make sure you have what you need to make your call to action as powerful as it can be.
                      </p>
                  </article>
                  <br />
                  <article>
                      <h1 class="designSect">INSTALLATION AND HOSTING</h1>
                      <p>
                          Do you have a strong business plan that <italic>doesn't</italic> include fluent computer skills? Not a problem. We'll help you set up a website host and install all the necessary files to get your project up and running.
                          <br />
                          <br />
                          <font size="1">*Note that any recurring maintenance will incur a charge and should be planned for when creating a project.</font>
                      </p>
                  </article>
              </div>

          </div>

          <div class="price-header">
              <h1>PRICING</h1>
          </div>

          <div class="pricing-content">
            <h1>THE BREAKDOWN</h1>
            <br />
              <div class="pricing-content-wrap">
                  <div class="simplePrice">
                    <h3>SIMPLE PLAN</h3>
                    <p>
                      Looking for a quick art portfolio? Maybe a simple one-page call to action? This is the perfect plan for you!
                      <br />
                      <strong>Cost:</strong> $350-$700
                    </p>
                  </div>
                  <br />
                  <div class="generalPrice">
                    <h3>GENERAL PLAN</h3>
                    <p>
                      If you're looking for a detailed business website with beautiful buttons and pages, then this is the plan for you. Projects under this category usually involve multiple directories and minor forms of interactive media.
                      <br />
                      <strong>Cost:</strong> $800-$1300
                    </p>
                  </div>
                  <br />
                  <div class="advancedPrice">
                    <h3>ADVANCED PLAN</h3>
                    <p>
                      If you need user management, database connections and manipulation, realtime chat, or more advanced features, this is the project plan for you. We suggest a solid website idea before choosing this option.
                      <br />
                      <strong>Cost:</strong> $1500-$2750+
                    </p>
                  </div>
              </div>
          </div>
          <br />
          <br />
          <br />
        </div>


<!-- NOTE: To any developers looking at those 3 breaks, I know that was a cheap work around. I'll clean this code up someday. :P -->
