<!DOCTYPE html>
<html>
  <head>
      <title>Skills | designbydev.com</title>
      <link type="text/css" rel="stylesheet" href="css/main.css" media="all">
      <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
  </head>

    <body>
        <nav>
            <a href="#" class="navToggle"><img src="/img/menu_48.png"></a>
            <h1><a href="./home">RYAN JONES</a></h1>
            <ul>
              <li class="topButton"><a href="./projects"><img src="/img/projects_128.png"><h4 class="navIconText">PROJECTS</h4></a></li>
              <li><a href="./skills"><img src="/img/skills_128.png"><h4 class="navIconText">SKILLS</h4></a></li>
              <li><a href="./network"><img src="/img/network_128.png"><h4 class="navIconText">NETWORK</h4></a></li>
            </ul>
        </nav>

        <div class="bodyWrapper">
            <div class="skillsContent">
                <div class="leftWrapper">
                    <h1>A BRIEF BIO:</h1>
                    <p>
                        Put some info about yourself here.
                    </p>
                </div>

                <div class="middleWrapper">
                    <h1>C++</h1>
                    <p>
                        Tell 'em how good you are with this language.
                    </p>
                </div>

                <div class="leftWrapperAlt">
                    <h1>C#</h1>
                    <p>
                        Tell 'em how good you are with this language.
                    </p>
                </div>

              <div class="rightWrapperAlt">
                  <h1>JAVA</h1>
                    <p>
                      Tell 'em how good you are with this language.
                    </p>
              </div>
            </div>
        </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/navBar.js"></script>
    </body>
</html>
