/* GENERAL */

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli', sans-serif;
}

body {
    background: url('https://source.unsplash.com/s24gQiVtlkM/1920x1080') center center fixed no-repeat;
    background-size: cover;
}

/* LANDING PAGE */

.landing-wrap {
    text-align: center;
    margin: 0 auto;
    color: white;
    padding: 2% 7% 5% 7%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
    box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
    margin-top: 250px;
    background-color: rgba(50, 50, 50, 0.7);
}

.landing-wrap h1 {
    font-size: 2.2em;
    overflow-x: hidden;
}

.landing-wrap p {

}

.landing-wrap a {
    display: inline-block;
    background: none;
    border: 1px solid white;
    color: white;
    padding: 15px;
    width: 85%;
    font-size: 10px;
    text-decoration: none;
}

.landing-wrap a:hover {
    background-color: rgba(50, 50, 50, 0.5);
}

@media  (max-width: 768px) {
  * {
      margin: 0 auto;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Muli', sans-serif;
  }

  body {
      background: url('https://source.unsplash.com/s24gQiVtlkM/1920x1080') center center fixed no-repeat;
      background-size: cover;
  }

  /* LANDING PAGE */

  .landing-wrap {
      text-align: center;
      margin: 0 auto;
      color: white;
      padding: 2% 7% 5% 7%;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
      -webkit-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
      -moz-box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
      box-shadow: 0px 10px 31px 1px rgba(0,0,0,0.33);
      background-color: rgba(50, 50, 50, 0.7);
      position:absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      height:100%;
      width:100%;
      font-size: 1.2em;
  }

  .landing-wrap h1 {
      overflow-x: hidden;
      margin-top: 6em;
  }

  .landing-wrap p {

  }

  .landing-wrap a {
      display: inline-block;
      background: none;
      border: 1px solid white;
      color: white;
      padding: 15px;
      width: 85%;
      font-size: 10px;
      text-decoration: none;
  }

  .landing-wrap a:hover {
      background-color: rgba(50, 50, 50, 0.5);
  }
}
